ion-header{
    text-align: center;
}

ion-toolbar{
    --background: #C0DE6C;
    --ion-color-step-150: transparent;
    --color: #262626;
}

table{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 5%;
}

h3{
    text-align: center;
    color: white;
}

.subtitulo{
    font-weight: bold;
    text-align: left;
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;  
}

#subtitulo_topo{
    text-align: center;
    color: white;
}

td{
    text-align: center;
}

p{
    text-align: justify;
    color: white;
}

ion-content{
    --background: #7DBFCD;
    padding: 0% 10% 0% 10%;
}

.image{
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.td_image
{
    max-width: 50%;
    max-height: 50%;
}

.td_div
{
    height: auto;
    width: 15px;
}
