<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Sobre</ion-title> -->
    <ion-button slot="start" fill="clear" (click)="backFeed()">
      <ion-icon id="back-button" name="chevron-back" style="color: #045263;"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Gostaria de saber mais sobre nós?</h3>
    <h4 id="subtitulo_topo">Família Happy To Help</h4>
    <table>
      <tr>
        <td class="td_div"></td>
        <td class="td_image"><img class="image" src="../../assets/imgs/img_bruno.jpeg"></td>
        <td class="td_div"></td>
        <td class="td_image"><img class="image" src="../../assets/imgs/img_nubia.jpeg"></td>
        <td class="td_div"></td>
        <td class="td_image"><img class="image" src="../../assets/imgs/img_jeni.jpeg"></td>
        <td class="td_div"></td>
        <td class="td_image"><img class="image" src="../../assets/imgs/img_rafa.jpeg"></td>
        <td class="td_div"></td>
        <td class="td_image"><img class="image" src="../../assets/imgs/img_cadu.jpeg"></td>
        <td class="td_div"></td>
      </tr>
    </table>
    <table>
      <tr>
        <h4 class="subtitulo">Nosso Objetivo</h4>
        <p>Sabe quando você vê um animal de rua e sente que poderia fazer algo, mas não sabe como? Ou então, se você precisa de ajuda para doar ou adotar um animalzinho de forma responsável? Nós temos a resposta! Esse é o Happy to Help, a rede social dos protetores! Nela, você poderá doar, adotar e procurar por animais que estejam perdidos. Além disso, será possível realizar e receber doações. Se você é uma ONG, aqui você terá visibilidade. Se for uma pessoa comum, como nós, aqui terá um amigo.</p>
        <p>Se também quer dar voz aqueles que não tem, venha com a gente!</p>
        <h4 class="subtitulo">Nossa História</h4>
        <p>Nós somos um grupo de estudantes da PUC Campinas que decidimos desenvolver este sistema para auxiliar todas as pessoas que querem ajudar aqueles que não podem falar. Este sistema é um trabalho de conclusão de curso, e além de todo o carinho que colocamos no desenvolvimento, queremos que você do outro lado, também faça a sua parte. Nos ajude a crescer para que outros animais possam ser ajudados. Compartilhe este aplicativo em suas redes sociais, se você se sentir confortávvel para tal. Caso não, apenas aproveite o aplicativo, e esperamos que você goste de tudo que preparamos para você.</p>
      </tr>
    </table>
 
</ion-content>
