ion-content {
    --ion-background-color: #C0DE6C;
}

.image
{
    max-width: 50%;
    height: auto;
    align-items: center;
}

.little-letters
{
    color: white;
    font-size: 0.9em;
}

.little-little-letters
{
    color: white;
    font-size: 0.6em;
}

.btn-outline-primary
{
    color: white;
    border-color: white;
}

.form-control
{
    border: solid 1px;
    border-radius: 30px;
    border-color: #C0DE6C;
}

.title-white
{
    color: white;
}

.botao-azul
{
    color: #7DBFCD;
    border-color: #7DBFCD;
}

.botao-verde
{
    color: #C0DE6C;
    border-color: #C0DE6C;
}