<ion-header>
    <ion-title> 
        
    </ion-title>
</ion-header>

<ion-content>
    <ion-button fill="clear" (click)="backSplash()">
        <ion-icon id="back-button" name="chevron-back"></ion-icon></ion-button>

        <ion-list id="circulo-amarelo-1">
        </ion-list>

        <ion-list id="circulo-amarelo-2">
        </ion-list>

        <ion-list id="circulo-amarelo-3">
        </ion-list>

    <div>
        <ion-row>
            <ion-col>
            <ion-list id="caixa-branca">
    
                <ion-item class="login-input-1">
                    <ion-icon id="user-icon" name="person-sharp"></ion-icon>
                    <ion-input placeholder="E-mail" type="text"></ion-input>
                </ion-item>
    
                <ion-item>
                    <ion-icon id="lock-icon" name="lock-open"></ion-icon>
                    <ion-input placeholder="Senha" type="password"></ion-input>
                </ion-item>

                <button id="remember-button" ion-button fill="clear">Esqueceu sua senha?</button>

                <ion-row>
                    <ion-col>
                        <button ion-button fill="clear" class="login-button-fundo"></button>
                        <button ion-button class="login-button">Entrar</button>
                    </ion-col>
                </ion-row>
                
            </ion-list>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
