ion-content {
  --background: #7DBFCD url('../../assets/imgs/Login.jpg') right bottom 0px/260px no-repeat;
}

ion-column{
  align-self: center;
}

ion-row {
  align-items: center;
  text-align: center;
}

ion-item {
  border-radius: 30px;
  padding-left: 0px;

  width: 245px;
  margin-left: 30px; 
  margin-bottom: 10px;

  opacity: 0.7;
  font-size: 0.9em;
  //border: solid 1px #BABABA;
}


.border-invalid{
  border: solid 2px #ff0000;
}
.border-valid{
  border: solid 1px #646363;
}

ion-input{
  color: #302e2e;
  border: transparent;
} 
ion-icon{
  color: #302e2e;
}

.teste{
  ion-item{
    border: solid 1px #e90606;
  } 
}

.login-button {
  position: absolute;
  width: 220px;
  height: 40px;
 
  background-color: transparent;
  color: #605858;

  border: solid 1px;
  border-radius: 30px;
  border-color: #605858 ;
  
  font-size: 0.9em;

  margin-top: 17px;
  margin-left: -230px;
} 

.login-button-fundo{
  width: 220px;
  height: 40px;

  border-radius: 30px;
  background-color: #B6E6E0;
  margin: 10px -5px -30px 20px;
}

.login-box {
  padding: 20px 20px 0px 20px;
  box-shadow: 1px 1px 11px 2px rgba(0,0,0,0.35);
}

.login-input-1{
  margin-top: 40px;
}

#caixa-branca{
  margin: 180px 30px 10px 30px;
  height: 260px;
  border-radius: 30px;
  background-color:#F2F3F7;
}

#circulo-amarelo-1{
  margin-left: -23px;
  margin-top: 344px;

  width: 50px;
  height: 50px;
  opacity: 65%;

  border-radius: 50px;
  position: absolute;
  background-color: #EEF52A;
}

#circulo-amarelo-2{
  margin-left: -10px;
  margin-top: 140px;

  width: 105px;
  height: 100px;
  opacity: 65%;

  border-radius: 50px;
  position: absolute;
  background-color: #EEF52A;
}

#circulo-amarelo-3{
  margin-top: -40px;
  margin-left: 124px;

  width: 230px;
  height: 220px;
  border-radius: 70%;

  opacity: 65%;
  position: absolute;
  background-color: #EEF52A;
}

#user-icon{
  margin-right: 10px;
  font-size: 17px;
}

#lock-icon{
  margin-right: 10px;
  font-size: 17px;
}

#back-button{
  float: left;
  background-color: transparent;
  height: 30px;
    width: 30px;
    background: #7DBFCD;
    color: white;
}

#remember-button{
  position: relative;
  background-color: transparent;

  margin-top: -10px ;
  margin-left: 155px;

  font-size: 11px;
  text-decoration: underline;
  color: #1B2531;
}
