<ion-header>
    <ion-title> 

    </ion-title>
</ion-header>

<ion-content>
    <div>
        <ion-row>
            <ion-col>
            <ion-list>
    
                <ion-item class="login-input-1">
                    <ion-icon id="user-icon" name="person-sharp"></ion-icon>
                    <ion-input placeholder="E-mail" clearInput type="text"></ion-input>
                </ion-item>
    
                <ion-item>
                    <ion-icon id="lock-icon" name="lock-open"></ion-icon>
                    <ion-input placeholder="Senha" clearInput type="password"></ion-input>
                </ion-item>

                <ion-row>
                    <ion-col>
                        <button ion-button fill="clear" class="login-button-fundo"></button>
                        <button ion-button class="login-button">Entrar</button>
                    </ion-col>
                </ion-row>

            </ion-list>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
