ion-content {
    --background: #E8EDF3;
}

ion-searchbar{
    color: black;
    background-color: white;
    margin-bottom: 5%;
}

ion-item{
    color: black;
    background-color: white;
    margin-bottom: 5%;
}