
<ion-header>
</ion-header>

<ion-content>
  <div class="header">
    <ion-button fill="clear" (click)="back()">
      <ion-icon id="back-button" name="chevron-back"></ion-icon></ion-button>
    <h2>Sobre</h2>
    <h1><ion-icon slot="start" name="earth-outline"></ion-icon>(19) 85269-4025</h1>
    <h1><ion-icon slot="start" name="at-outline"></ion-icon>alexandrade@gmail.com</h1>
    <h1><ion-icon slot="start" name="call-sharp"></ion-icon>Rua Antonio de andrade, n°648</h1>
  </div>
  
  <div>
    <img class="image-profile" src="../../assets/imgs/usuarioLogado.jpg">
  </div>
  
  <ion-segment id="option" value="segment1" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="segment1">
      Para adoção
    </ion-segment-button>
    <ion-segment-button value="segment2">
      Adotados
    </ion-segment-button>
  </ion-segment>

  <div class="grid" *ngIf="segment1">
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/1.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/2.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/3.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/4.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/5.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/6.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/7.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/8.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/9.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/10.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/11.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/12.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/13.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/14.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/15.jpg');"></div>
  </div>

  <div class="grid" *ngIf="segment2">
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/16.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/17.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/18.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/19.jpg');"></div>
    <div class="img_box" style="background-image: url('../../assets/imgs/Galeria_provisoria/20.jpg');"></div>
  </div>
  
</ion-content>