#image
{
    background-color: #C0DE6C;
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}

// #body
// {
//     background-color: #7DBFCD;
// }

// #ion-slide-2
// {
//     background-color: linear-gradient(0deg, white 60%,#7DBFCD 40%);
// }

.btn-outline-primary
{
    color: white;
    border-color: white;
}

.form-control
{
    border: solid 1px;
    border-radius: 30px;
    border-color: #7DBFCD;
}

.title-white
{
    color: white;
}

.title-black
{
    color: black;
}

.botao-azul
{
    color: #7DBFCD;
    border-color: #7DBFCD;
}

.botao-verde
{
    color: #C0DE6C;
    border-color: #C0DE6C;
}