<ion-header [translucent]="true">
    <ion-title>
      
    </ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <strong></strong>
      <p><ion-button class="btns efeito efeito-1" fill="clear" (click)="openLogin()">
        Login
        <ion-icon id="login-icon" name="chevron-forward-outline"></ion-icon>
      </ion-button></p>

      <p><ion-button class="btns efeito efeito-1" fill="clear">
        Explorar
        <ion-icon id="explorar-icon" name="chevron-forward-outline"></ion-icon>
      </ion-button></p>

      <p><ion-button class="btns efeito efeito-1" fill="clear">
        Cadastre-se
        <ion-icon id="cadastro-icon" name="chevron-forward-outline"></ion-icon>
      </ion-button></p>
  </div>
</ion-content>
