ion-content {
    --background: #7DBFCD;
  }

  #back-button{
    float: left;
    background-color: transparent;
    height: 30px;
      width: 30px;
      background: #7DBFCD;
      color: white;
  }